/* Global 
============================ */

html {
    background-color: #fff;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lato', Arial, sans-serif;
    text-transform: uppercase;
}

h1 {
    color: #eee;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px;
}

h2 {
    color: #000;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 160%;
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px;
}

p {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

section {
    padding: 30px 0 60px 0;
}

h2:after {
    display: block;
    height: 2px;
    background-color: rgb(38, 109, 38);
    width: 150px;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
}


/* Header 
============================ */

header {
    background-image: linear-gradient(rgba(0, 242, 96, 0.6), rgba(7, 117, 230, 0.6)), url(https://user-images.githubusercontent.com/87115727/124879776-de8cef00-dfcd-11eb-8a5b-d197296560b7.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-title {
    position: absolute;
    width: auto !important;
    top: 30%;
}

.home-title h1 {
    font-size: 340%;
    color: #fff;
}

.home-title h1 span {
    font-weight: 700;
}

.home-title p {
    color: #fff;
}

.btns {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s, border 1s;
}

.btns-full {
    background-color: #fff;
    color: rgb(0, 0, 0, 1);
    margin-right: 15px;
}

.btns-contact {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff
}

.btns-full:hover {
    background-color: rgb(6, 238, 95);
    color: #fff;
}

.btns-contact:hover {
    background-color: rgb(6, 238, 95);
    color: #fff;
    border: 1px solid transparent;
}


/* Produits 
============================ */

.produits-plus {
    margin: 30px 0;
}

.produits-plus:hover .produits-icon {
    transform: translateX(20px);
    color: #575757;
}

.produits-img {
    max-width: 100%;
    height: auto;
}

.produits-icon {
    font-size: 34px;
    color: green;
    transition: all 1s
}


/* Famille The 
============================ */

.famille-the {
    background-color: #cdf6e1;
}

.famille-details {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.famille-details img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.famille-details h4 {
    text-align: center;
}


/* Galeries 
============================ */

.galeries-img {
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    transition: all 1.5s
}

.galeries-img:hover {
    transform: translateY(-20px);
}

.galeries-titre {
    position: relative;
    top: 250px;
    left: 20px;
}

.galeries-titre h4 {
    color: #fff;
}


/* Avis client 
============================ */

.clients {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(https://user-images.githubusercontent.com/87115727/124879829-eba9de00-dfcd-11eb-853a-b258974670e4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.clients h2 {
    color: #fff
}

.clients h2:after {
    background-color: transparent;
}

blockquote::before {
    content: "\201C";
    font-size: 800%;
    font-family: "Sanchez";
    position: relative;
    top: 45px;
    color: rgba(255, 255, 255, 0.5);
}

blockquote {
    padding: 5px;
    font-style: italic;
    line-height: 130%;
    color: #fff
}

cite {
    font-size: 90%;
    display: block;
    margin-top: 20px;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Packs
============================ */

.pack {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.pack h3 {
    font-weight: 400;
    color: green;
}

.pack h4 {
    font-size: 200%;
    font-weight: 100;
}

.pack-titre {
    font-family: "verdana";
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #e3e0e0;
    position: relative;
}

.pack span {
    font-weight: 100;
    font-size: 40%;
    position: relative;
    top: -15px;
    left: 3px
}

.pack-content ul {
    list-style: none;
    padding: 20px;
    font-weight: 300;
    line-height: 35px;
}

.pack-content ul li i {
    font-size: 90%;
    margin-right: 10px;
}

.pack-singup {
    text-align: center;
}

.btns-pack:hover {
    background-color: rgb(108, 216, 108);
    color: #fff
}

.btns-pack {
    background-color: green;
    color: #fff;
    margin-bottom: 20px;
}

.pack-avance {
    background-color: #8cd4af;
}

.pack-titre-avance {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #fff;
    color: green;
    border-radius: 10px;
    padding: 5px
}


/* Form
============================ */

.contact-form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.contact-form-all {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 50px;
}

.contact-message {
    width: 100%;
}

.btns-contact2 {
    background-color: green;
    color: #fff;
    margin-right: 20px;
    border-color: #fff;
}

.phone p,
.adresse p {
    font-size: 20px;
}


/* Footer
============================ */

footer {
    background-color: rgb(31, 30, 30);
    color: #fff;
    height: 60px;
    padding: 20px 20px;
}

.copyright {
    text-align: center;
    font-size: 20px;
}

.copyright a {
    color: #fff;
}
